@model ElasticCaptainSmackDown.ViewModels.Captain.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>The Captains</h2>

<ul>
    @foreach (var cap in Model.Captains)
    {
        <li>@Html.ActionLink(cap.Name, "Cast", "Vote",  new { captain = cap.ID }, null)  - @cap.Votes</li>
    }
</ul>
